:root {
    --primary: hsla(0, 0%, 0%, 0.863);
    --secondary: hsl(0, 80%, 50%);
    --text: hsl(292, 17%, 37%);
    --font-size: 14px;
    --max-text-length: 60ch;
    --text-h: hsla(91, 88%, 52%, 0.425);
}

img   {
    max-width :95%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container * li {
    font-size: var(--text-h);
}

body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: var(--font-size);
    color: var(--text);
    background: hsl(240, 20%, 95%);
    padding: 10px;
}

h1 {
    font-size: 2rem;
    font-family: Arial, sans-serif;
    color: var(--text);
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

.highlight {
    background: var(--secondary);
    color: rgb(21, 80, 114);
    padding: 5px;
    border-radius: 5px;
}

#main-header {
    text-align: center;
    padding: 10px;
    background: var(--primary);
    color: white;
}

a[href^="http"] {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div {
    border: 1px solid hsl(0, 0%, 80%);
    padding: 15px;
    border-radius: 8px;
}

button:hover {
    background: var(--secondary);
    color: white;
}

p::first-line {
    font-weight: bold;
    text-transform: uppercase;
}

.img-berlin {
    position: absolute;
    top: 50px;
    left: 20px;
    width: 300px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
    margin-bottom: 20px;
}

ul li {
    margin-bottom: 8px;
    font-size: 1rem;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
}

table td {
    border: 1px solid #ccdd8c;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: var(--primary);
    color: rgb(202, 202, 162);
}
.xo::first-letter {
    color: hsl(0, 81%, 42%);
}
@media (max-width: 600px) {
    body {
        font-size: 14px;
        background-color: bisque;
    }

    h1 {
        font-size: 1.5rem;
    }
}
